<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
<nav>
    <a href="/company/">company info</a>
    <a href="/mysite/">product</a>
    <a href="/login/">login</a>
    <a href="/join/">join</a>
    <a href="/profile/">profile</a>
    <a href="/mymail/">mymail</a>
    <a href="/mymail/blockmail/">mymail/blockmail</a>
    <a href="/subscribe/">subscribe</a>
    <a href="/company/aroseagida/">aroseagida</a>
    <a href="/company/raonhaje/">raonhaje</a>


</nav>
<h1>테스트 페이지입니다.</h1>
</body>
</html>