<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
<nav>
    <div>
        <button><a href="/login/">login</a></button>
        <button><a href="/join/">join</a></button>
        <button><a href="/profile/">profile</a></button>
        <button><a href="/mymail/">mymail</a></button>
        <button><a href="/mymail/blockmail/">mymail/blockmail</a></button>
        <button><a href="/subscribe/">subscribe</a></button>
        <button><a href="/company/aroseagida/">aroseagida</a></button>
        <button><a href="/company/raonhaje/">raonhaje</a></button>
    </div>
</nav>
{% extends 'base.html' %}
{% block content %}
<h1>테스트 메인 페이지입니다.</h1>
{% endblock %}
</body>
</html>